---
http_interactions:
- request:
    method: get
    uri: https://mapquestapi.com/geocoding/v1/address?key=MAPQUEST_KEY&location=jacksonville,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 19 May 2021 15:07:33 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"jacksonville,fl"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Jacksonville","adminArea5Type":"City","adminArea4":"Duval
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039196","unknownInput":"","type":"s","latLng":{"lat":30.325968,"lng":-81.65676},"displayLatLng":{"lat":30.325968,"lng":-81.65676},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAPQUEST_KEY&type=map&size=225,160&locations=30.325968,-81.65676|marker-sm-50318A-1&scalebar=true&zoom=12&rand=552973794"}]}]}'
  recorded_at: Wed, 19 May 2021 15:07:33 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_KEY&exclude=minutely&lang=lang&lat=30.325968&lon=-81.65676&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.326,"lon":-81.6568,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1621436853,"sunrise":1621420216,"sunset":1621469774,"temp":79.03,"feels_like":79.03,"pressure":1023,"humidity":66,"dew_point":66.7,"uvi":5.58,"clouds":40,"visibility":10000,"wind_speed":4,"wind_deg":99,"wind_gust":7,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1621436400,"temp":79.03,"feels_like":79.03,"pressure":1023,"humidity":66,"dew_point":66.7,"uvi":5.58,"clouds":40,"visibility":10000,"wind_speed":13.11,"wind_deg":103,"wind_gust":18.12,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.49,"rain":{"1h":0.19}},{"dt":1621440000,"temp":79.21,"feels_like":79.21,"pressure":1023,"humidity":63,"dew_point":65.53,"uvi":5.63,"clouds":52,"visibility":10000,"wind_speed":13.29,"wind_deg":102,"wind_gust":17.72,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.54},{"dt":1621443600,"temp":80.26,"feels_like":81.9,"pressure":1023,"humidity":58,"dew_point":64.15,"uvi":6.49,"clouds":64,"visibility":10000,"wind_speed":13.53,"wind_deg":102,"wind_gust":17.9,"weat[...]
