---
http_interactions:
- request:
    method: get
    uri: https://mapquestapi.com/geocoding/v1/address?key=MAPQUEST_KEY&location=jacksonville,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 18 May 2021 02:29:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"jacksonville,fl"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Jacksonville","adminArea5Type":"City","adminArea4":"Duval
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039196","unknownInput":"","type":"s","latLng":{"lat":30.325968,"lng":-81.65676},"displayLatLng":{"lat":30.325968,"lng":-81.65676},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAPQUEST_KEY&type=map&size=225,160&locations=30.325968,-81.65676|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-52689645"}]}]}'
  recorded_at: Tue, 18 May 2021 02:29:07 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_KEY&exclude=minutely&lang=lang&lat=30.325968&lon=-81.65676&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.326,"lon":-81.6568,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1621304948,"sunrise":1621247481,"sunset":1621296897,"temp":70.9,"feels_like":71.35,"pressure":1022,"humidity":78,"dew_point":63.7,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":5.75,"wind_deg":80,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1621303200,"temp":70.9,"feels_like":71.35,"pressure":1022,"humidity":78,"dew_point":63.7,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":7,"wind_deg":104,"wind_gust":17.65,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1621306800,"temp":70.83,"feels_like":71.19,"pressure":1022,"humidity":76,"dew_point":62.89,"uvi":0,"clouds":36,"visibility":10000,"wind_speed":6.55,"wind_deg":101,"wind_gust":17.69,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1621310400,"temp":70.61,"feels_like":70.84,"pressure":1022,"humidity":74,"dew_point":61.93,"uvi":0,"clouds":31,"visibility":10000,"wind_speed":6.87,"wind_deg":100,"wind_gust":18.21,"weather":[{"id":802,[...]
