---
http_interactions:
- request:
    method: get
    uri: https://mapquestapi.com/geocoding/v1/address?key=MAPQUEST_KEY&location=jacksonville,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 17 May 2021 21:09:01 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"jacksonville,fl"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Jacksonville","adminArea5Type":"City","adminArea4":"Duval
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039196","unknownInput":"","type":"s","latLng":{"lat":30.325968,"lng":-81.65676},"displayLatLng":{"lat":30.325968,"lng":-81.65676},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAPQUEST_KEY&type=map&size=225,160&locations=30.325968,-81.65676|marker-sm-50318A-1&scalebar=true&zoom=12&rand=298954125"}]}]}'
  recorded_at: Mon, 17 May 2021 21:09:01 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_KEY&exclude=minutely&lang=lang&lat=30.325968&lon=-81.65676&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.326,"lon":-81.6568,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1621285741,"sunrise":1621247481,"sunset":1621296897,"temp":79.3,"feels_like":79.3,"pressure":1021,"humidity":47,"dew_point":57.34,"uvi":3.55,"clouds":75,"visibility":10000,"wind_speed":12.66,"wind_deg":90,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1621285200,"temp":79.3,"feels_like":79.3,"pressure":1021,"humidity":47,"dew_point":57.34,"uvi":3.55,"clouds":75,"visibility":10000,"wind_speed":11.92,"wind_deg":93,"wind_gust":13.8,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.04},{"dt":1621288800,"temp":78.96,"feels_like":78.96,"pressure":1021,"humidity":48,"dew_point":57.61,"uvi":1.66,"clouds":79,"visibility":10000,"wind_speed":11.32,"wind_deg":99,"wind_gust":13.42,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.04},{"dt":1621292400,"temp":77.85,"feels_like":77.72,"pressure":1021,"humidity":51,"dew_point":58.28,"uvi":0.5,"clouds":83,"visibility":10000,"wind_speed":10.38,"wind_deg":105,"wind_gust":14.03,"weather":[{[...]
