---
http_interactions:
- request:
    method: get
    uri: https://mapquestapi.com/geocoding/v1/address?key=MAPQUEST_KEY&location=jacksonville,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 20 May 2021 22:17:20 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"jacksonville,fl"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Jacksonville","adminArea5Type":"City","adminArea4":"Duval
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039196","unknownInput":"","type":"s","latLng":{"lat":30.325968,"lng":-81.65676},"displayLatLng":{"lat":30.325968,"lng":-81.65676},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAPQUEST_KEY&type=map&size=225,160&locations=30.325968,-81.65676|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1010002516"}]}]}'
  recorded_at: Thu, 20 May 2021 22:17:20 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_KEY&exclude=minutely&lang=lang&lat=30.325968&lon=-81.65676&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.326,"lon":-81.6568,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1621549040,"sunrise":1621506585,"sunset":1621556213,"temp":78.67,"feels_like":78.87,"pressure":1024,"humidity":56,"dew_point":61.66,"uvi":1.73,"clouds":40,"visibility":10000,"wind_speed":3,"wind_deg":110,"wind_gust":5.99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1621548000,"temp":78.67,"feels_like":78.87,"pressure":1024,"humidity":56,"dew_point":61.66,"uvi":1.73,"clouds":40,"visibility":10000,"wind_speed":13.82,"wind_deg":91,"wind_gust":18.99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1621551600,"temp":78.15,"feels_like":78.26,"pressure":1024,"humidity":55,"dew_point":60.67,"uvi":0.53,"clouds":35,"visibility":10000,"wind_speed":12.77,"wind_deg":92,"wind_gust":19.08,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1621555200,"temp":76.77,"feels_like":76.77,"pressure":1024,"humidity":56,"dew_point":59.9,"uvi":0,"clouds":30,"visibility":10000,"wind_speed":10.98,"wind_deg":93,"wind_gust":19.89,"weather":[{"id":80[...]
