---
http_interactions:
- request:
    method: get
    uri: https://mapquestapi.com/geocoding/v1/address?key=MAPQUEST_KEY&location=jacksonville,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Mon, 17 May 2021 20:15:45 GMT
=======
      - Sat, 15 May 2021 18:42:16 GMT
>>>>>>> 2c1977b7dcace3839a444b29bda6f0de53c8e5f3
      Content-Type:
      - application/json;charset=UTF-8
      Content-Length:
      - '1037'
      Access-Control-Allow-Methods:
      - OPTIONS,GET,POST
      Access-Control-Allow-Origin:
      - "*"
      Cache-Control:
      - no-cache, must-revalidate
      Expires:
      - Mon, 20 Dec 1998 01:00:00 GMT
      Geocodetransactioncount:
      - '1'
      Last-Modified:
<<<<<<< HEAD
      - Mon, 17 May 2021 20:15:45 GMT
=======
      - Sat, 15 May 2021 18:42:16 GMT
>>>>>>> 2c1977b7dcace3839a444b29bda6f0de53c8e5f3
      Pragma:
      - no-cache
      Reversegeocodetransactioncount:
      - '0'
      Server:
      - Apache-Coyote/1.1
      Set-Cookie:
<<<<<<< HEAD
      - JSESSIONID=5BD9D579EFDFD01819292C81546ED863; Path=/; HttpOnly; Secure
=======
      - JSESSIONID=60BF62B59850CD409DFEC4DDE69F3927; Path=/; HttpOnly; Secure
>>>>>>> 2c1977b7dcace3839a444b29bda6f0de53c8e5f3
      Status:
      - success
      Transactionweight:
      - '1.0'
      Strict-Transport-Security:
      - max-age=0
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"jacksonville,fl"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Jacksonville","adminArea5Type":"City","adminArea4":"Duval
<<<<<<< HEAD
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039196","unknownInput":"","type":"s","latLng":{"lat":30.325968,"lng":-81.65676},"displayLatLng":{"lat":30.325968,"lng":-81.65676},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAPQUEST_KEY&type=map&size=225,160&locations=30.325968,-81.65676|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1177329328"}]}]}'
  recorded_at: Mon, 17 May 2021 20:15:45 GMT
=======
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039196","unknownInput":"","type":"s","latLng":{"lat":30.325968,"lng":-81.65676},"displayLatLng":{"lat":30.325968,"lng":-81.65676},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAPQUEST_KEY&type=map&size=225,160&locations=30.325968,-81.65676|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-710496654"}]}]}'
  recorded_at: Sat, 15 May 2021 18:42:16 GMT
>>>>>>> 2c1977b7dcace3839a444b29bda6f0de53c8e5f3
[...]
