---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_KEY&exclude=minutely&lang=lang&lat=41.8832&lon=-87.6324&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1621549043,"sunrise":1621506340,"sunset":1621559327,"temp":84.09,"feels_like":84.24,"pressure":1024,"humidity":45,"dew_point":60.48,"uvi":2.18,"clouds":75,"visibility":10000,"wind_speed":5.99,"wind_deg":206,"wind_gust":8.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1621548000,"temp":84.09,"feels_like":84.24,"pressure":1024,"humidity":45,"dew_point":60.48,"uvi":2.18,"clouds":75,"visibility":10000,"wind_speed":14.2,"wind_deg":177,"wind_gust":20.31,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.05},{"dt":1621551600,"temp":82.49,"feels_like":82.83,"pressure":1024,"humidity":47,"dew_point":60.24,"uvi":0.94,"clouds":80,"visibility":10000,"wind_speed":12.97,"wind_deg":172,"wind_gust":19.22,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.04},{"dt":1621555200,"temp":80.19,"feels_like":81.18,"pressure":1023,"humidity":52,"dew_point":60.98,"uvi":0.28,"clouds":85,"visibility":10000,"wind_speed":12.71,"wind_deg":170,"wind_gust":18.01,"weather":[...]
