---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_KEY&exclude=minutely&lang=lang&lat=41.8832&lon=-87.6324&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1621464581,"sunrise":1621419991,"sunset":1621472868,"temp":74.05,"feels_like":74.35,"pressure":1023,"humidity":68,"dew_point":62.82,"uvi":0.98,"clouds":75,"visibility":10000,"wind_speed":3,"wind_deg":204,"wind_gust":5.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1621461600,"temp":73.31,"feels_like":73.63,"pressure":1023,"humidity":70,"dew_point":62.94,"uvi":2.25,"clouds":79,"visibility":10000,"wind_speed":11.7,"wind_deg":187,"wind_gust":18.19,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.93,"rain":{"1h":0.4}},{"dt":1621465200,"temp":74.05,"feels_like":74.35,"pressure":1023,"humidity":68,"dew_point":62.82,"uvi":0.98,"clouds":75,"visibility":10000,"wind_speed":11.23,"wind_deg":190,"wind_gust":18.81,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.73},{"dt":1621468800,"temp":73.18,"feels_like":73.49,"pressure":1023,"humidity":70,"dew_point":62.82,"uvi":0.29,"clouds":78,"visibility":10000,"wind_speed":10.27,"wind_deg":187,"wind_gust":18.68,"wea[...]
