---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_KEY&exclude=minutely&lang=lang&lat=44.058088&lon=-121.31515&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.0581,"lon":-121.3152,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1621299931,"sunrise":1621254997,"sunset":1621308417,"temp":66.81,"feels_like":64.71,"pressure":1014,"humidity":32,"dew_point":36.05,"uvi":1.17,"clouds":100,"visibility":10000,"wind_speed":1.99,"wind_deg":337,"wind_gust":5.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1621299600,"temp":66.81,"feels_like":64.71,"pressure":1014,"humidity":32,"dew_point":36.05,"uvi":1.17,"clouds":100,"visibility":10000,"wind_speed":19.1,"wind_deg":261,"wind_gust":24.72,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1621303200,"temp":65.37,"feels_like":63.25,"pressure":1013,"humidity":35,"dew_point":37.04,"uvi":0.4,"clouds":100,"visibility":10000,"wind_speed":14.56,"wind_deg":260,"wind_gust":24.18,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1621306800,"temp":62.1,"feels_like":59.94,"pressure":1013,"humidity":41,"dew_point":38.16,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":11.43,"wind_deg":256,"wind_gust":25.52,"weather":[{"id":[...]
