---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_KEY&exclude=minutely&lang=lang&lat=44.058088&lon=-121.31515&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      
      string: '{"lat":44.0581,"lon":-121.3152,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1621282116,"sunrise":1621254997,"sunset":1621308417,"temp":74.39,"feels_like":72.28,"pressure":1013,"humidity":16,"dew_point":26.1,"uvi":8.3,"clouds":1,"visibility":10000,"wind_speed":10.36,"wind_deg":260,"wind_gust":23.02,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1621281600,"temp":74.39,"feels_like":72.28,"pressure":1013,"humidity":16,"dew_point":26.1,"uvi":8.3,"clouds":1,"visibility":10000,"wind_speed":13,"wind_deg":271,"wind_gust":16.73,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1621285200,"temp":74.12,"feels_like":72.09,"pressure":1012,"humidity":18,"dew_point":28.42,"uvi":7.87,"clouds":1,"visibility":10000,"wind_speed":16.13,"wind_deg":263,"wind_gust":19.42,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1621288800,"temp":73.49,"feels_like":71.44,"pressure":1011,"humidity":19,"dew_point":29.14,"uvi":6.25,"clouds":3,"visibility":10000,"wind_speed":18.16,"wind_deg":261,"wind_gust":21.7,"weather":[{"id":800,"ma[...]
