---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_KEY&exclude=minutely&lang=lang&lat=44.058088&lon=-121.31515&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.0581,"lon":-121.3152,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1621436855,"sunrise":1621427681,"sunset":1621481346,"temp":39.15,"feels_like":39.15,"pressure":1016,"humidity":75,"dew_point":31.91,"uvi":0.95,"clouds":75,"visibility":10000,"wind_speed":1.99,"wind_deg":51,"wind_gust":4,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1621436400,"temp":39.15,"feels_like":39.15,"pressure":1016,"humidity":75,"dew_point":31.91,"uvi":0.95,"clouds":75,"visibility":10000,"wind_speed":2.66,"wind_deg":350,"wind_gust":5.73,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.02},{"dt":1621440000,"temp":39.6,"feels_like":39.6,"pressure":1016,"humidity":70,"dew_point":30.79,"uvi":1.91,"clouds":78,"visibility":10000,"wind_speed":2.73,"wind_deg":23,"wind_gust":5.12,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.02},{"dt":1621443600,"temp":40.84,"feels_like":37.51,"pressure":1016,"humidity":63,"dew_point":29.55,"uvi":3.27,"clouds":80,"visibility":10000,"wind_speed":4.94,"wind_deg":21,"wind_gust":5.73,"weather":[{"id":8[...]
